---

- name: Set root password
  ansible.builtin.user:
    name: root
    password: '$y$j9T$pNxwrvIv8roAjiDm5kp0Q1$F9hCQ4J0jkWJRGU0iYXPtDqIZ7DGx8RIEec..Ariw54'

- name: Authorize ssh key for root
  ansible.posix.authorized_key:
    user: root
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Set GRUB_TIMEOUT=1
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regex: "^GRUB_TIMEOUT="
    line: GRUB_TIMEOUT=1
  notify: Rebuild grub

- name: Check firewalld is installed
  ansible.builtin.stat:
    path: /usr/lib/systemd/system/firewalld.service
  register: firewalld_systemd

- name: Disable firewalld
  ansible.builtin.systemd_service:
    name: firewalld
    enabled: false
    state: stopped
  when: firewalld_systemd.stat.exists

- name: Disable SELinux
  ansible.posix.selinux:
    state: disabled
  when:
    - ansible_selinux.status is defined
    - ansible_selinux.status != "disabled"

- name: Deploy custom.sh
  ansible.builtin.copy:
    src: custom.sh
    dest: /etc/profile.d/custom.sh
    owner: root
    group: root
    mode: 0755

- name: Include repos.yml
  ansible.builtin.include_tasks:
    file: repos.yml
  when: ansible_os_family == "RedHat"

- name: Install packages
  ansible.builtin.package:
    name:
      - ansible-core
      - bind-utils
      - git
      - htop
      - java-25-openjdk
      - lm_sensors
      - lsof
      - net-tools
      - pciutils
      - python3.12
      - python3.12-pip
      - python3-requests
      - rsync
      - screen
      - sshpass
      - sysstat
      - tar
      - telegraf
      - tmux
      - tuned
      - unzip
      - vim-enhanced
    state: present
  when: ansible_distribution == "Rocky"

- name: Deploy telegraf config
  ansible.builtin.copy:
    src: telegraf.conf
    dest: /etc/telegraf/telegraf.conf
    owner: root
    group: root
    mode: 0644
  notify: restart telegraf

- name: Add docker group
  ansible.builtin.group:
    gid: 1000
    name: docker

- name: Add user docker
  ansible.builtin.user:
    name: docker
    uid: 1000
    group: 1000

- name: Add jenkins group
  ansible.builtin.group:
    gid: 1002
    name: jenkins

- name: Add user jenkins
  ansible.builtin.user:
    name: jenkins
    uid: 1002
    group: 1002
    password: '$6$J23HgsjhxjUEbIii$o7Lnb1z0vRFOxrWTDo4jDOemWH4Rjx0fqIG6ObWNV52FzqAi7o7xWr4D0HJTxtUdqJJdaUvvRxLN04TimlEuf0'

- name: Remove /etc/motd.d/cockpit
  ansible.builtin.file:
    name: /etc/motd.d/cockpit
    state: absent

- name: Create group
  ansible.builtin.group:
    name: remi
    state: present
    gid: 1001

- name: Create user
  ansible.builtin.user:
    comment: Remi
    home: /data/remi
    group: remi
    groups: docker,jenkins
    name: remi
    shell: /bin/bash
    password: $6$dRYD3poqWwGd9ctf$/5rQe0wW/NQTRxvO.UEXsQDrbLfXNmob/KkS7LG9zwOC.7Kqbsrd/J2R6MRgQXJXRd46VPJOYaDUbcBAda8vU1
    uid: 1001

- name: Set up sudo
  ansible.builtin.copy:
    src: remi.sudo
    dest: /etc/sudoers.d/remi
    owner: root
    group: root
    mode: 0440

- name: Add temper script
  ansible.builtin.copy:
    src: temper.sh
    dest: /usr/local/sbin/
    mode: 0700
    owner: root
    group: root

- name: Add telegraf sudo
  ansible.builtin.copy:
    src: telegraf.sudo
    dest: /etc/sudoers.d/telegraf
    mode: 0440
    owner: root
    group: root

- name: Add search domain
  community.general.nmcli:
    conn_name: enp2s0
    dns4_search: [cabronita.com]
    state: up
  tags: nmcli

- name: Disable IPv6
  ansible.builtin.copy:
    src: disable-ipv6.conf
    dest: /etc/sysctl.d/disable-ipv6.conf
    owner: root
    group: root
    mode: 0644

- name: Enable tuned
  ansible.builtin.systemd_service:
    name: tuned
    enabled: true
    state: started

- name: Deploy node-exporter
  community.docker.docker_container:
    command: --path.rootfs=/host
    image: prom/node-exporter:v1.10.2
    name: node-exporter
    network_mode: host
    pid_mode: host
    restart_policy: "unless-stopped"
    user: 1000:1000
    volumes:
      - /:/host:ro,rslave
