---

- name: Include data.yml
  ansible.builtin.include_tasks:
    file: data.yml

- name: Include httpd.yml
  ansible.builtin.include_tasks:
    file: httpd.yml

- name: Authorize ssh key
  ansible.posix.authorized_key:
    user: remi
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: Install java
  ansible.builtin.dnf:
    name: java-17-openjdk
    state: present
  tags: java
