---

- name: Create directories
  ansible.builtin.file:
    path: "/data/prometheus/{{ item }}"
    state: directory
    mode: 0755
    owner: 1000
    group: 1000
  loop: 
    - data
    - etc

- name: Deploy configuration file
  ansible.builtin.copy:
    src: prometheus.yml
    dest: /data/prometheus/etc/prometheus.yml
    mode: "0644"
    owner: 1000
    group: 1000
  notify: restart container

- name: Deploy prometheus
  community.docker.docker_container:
    image: prom/prometheus:v3.9.1
    name: prometheus
    ports:
      - 9090:9090
    restart_policy: "unless-stopped"
    user: 1000:1000
    volumes:
      - /data/prometheus/data:/prometheus
      - /data/prometheus/etc/prometheus.yml:/etc/prometheus/prometheus.yml
